html {
  background: darkgray;
  display: inline-block;
}

/* body */
body {
  font-size: clamp(0.39rem, 1.6vw, 1.7rem);
  a {
    display: block;
    color: #fbfff1;
    text-decoration: none;
    text-shadow:
      -0.5px -0.5px 0 #3c3744,
      /* Vänster upp */ 0.5px -0.5px 0 #3c3744,
      /* Höger upp */ -0.5px 0.5px 0 #3c3744,
      /* Vänster ner */ 0.5px 0.5px 0 #3c3744; /* Höger ner */
  }
  a:hover {
    color: hsl(200, 14%, 85%);
  }
}
.northCon {
  margin-top: 4vw;
  display: flex;
  justify-content: center;
}

.address {
  display: grid;
  width: 75vw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-items: start;

  .addressRight {
    grid-area: 1/4/2/5;
    p {
      margin-left: 1.5vw;
    }
  }
  .value {
    margin-right: 4vw;
    grid-area: 1/5/2/6;
    p {
      margin-left: 1.5vw;
    }
  }
}

.responsiveImage {
  grid-area: 1/3/2/4;
  margin: o o o -2vw;
  width: 15vw;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  filter: blur(0.2px);
  box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.5);
  transition: filter 0.3s ease; /*Mjuk övergång vid hover */
}

.equator {
  margin: 7vw;

  #presentationBody {
    width: 54vw;
  }
}
