html {
    background: darkgray;
    
}

#info {
    font-style: normal;
    display: grid !important;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);

    label[for="userName"]{
        grid-area: 1/1/2/2;
    
       
    }

    #name{
        margin:0;
        grid-area: 1/2/2/3;
    }

    label[for="userSurname"]{
        grid-area: 2/1/3/2;
    
       
    }

    #surname{
        margin:0;
        grid-area: 2/2/3/3;
    }
    label[for="userAddress"]{
        grid-area: 3/1/4/2;
    
       
    }

    #address{
        margin:0;
        grid-area: 3/2/4/3;
    }
    
    


}









